<header class="header">
  <nav class="header-nav">
    <section class="header-nav-left">
        
          <h1>Bee Social by Avanade</h1>
        
    </section>
    <section class="header-nav-right">
      <div class="header-nav-right__user">
        <a routerLink="/timeline" class="header-nav-right__user--image">
          <img src="assets/images/avatar3.png"  alt="User Picture">
        </a>
        <div class="header-nav-right__user--logout" id="logout">
          <a routerLink="">
            <span>Sair</span>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
  </nav>


  <!-- Navbar -->
  <!-- <div class="w3-top header" >
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" (click)="openNav()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="header-logo w3-bar-item w3-button w3-padding-large w3-theme-d4">
        <span>Bee Social by Avanade</span>
      </a>
      <a href="/timeline" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Timeline">
        <i class="fa fa-globe w3-margin-right"></i>
        <span>Meu perfil</span>
      </a>
      <a href="/minha-conta" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Editar conta">
        <i class="fa fa-user"></i>
      </a>
      <div class="w3-dropdown-hover w3-hide-small w3-right">
        <button class="w3-button w3-padding-large" title="My Account">
          <img src="assets/images/avatar3.png" class="w3-circle header-profile-picture" alt="Avatar">
        </button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block header-dropdown">
          <a href="/minha-conta" class="w3-bar-item w3-button">Minha conta</a>
          <a href="/logout" class="w3-bar-item w3-button">Sair</a>
        </div>
      </div>
    </div>
  </div> -->
   
  <!-- Navbar on small screens -->
  <!-- <div id="navMenu" class="nav-menu w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/timeline" class="w3-bar-item w3-button w3-padding-large">Timeline</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Sair</a>
  </div> -->
</header>