<div class="profile">
  <!-- Profile -->
  <section class="profile-card">
    <div class="profile-card-container">
      <h4>{{user.name}}</h4>
      <p class="profile-card-picture">
        <img src={{user.photo}} alt="User's image">
      </p>
      <hr>
      <p class="profile-card-detail">
        <i class="fa fa-user fa-fw"></i>
        <span>{{user.email}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-pencil fa-fw"></i>
        <span>{{user.ocupation}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-home fa-fw"></i>
        <span>{{user.location}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-birthday-cake fa-fw"></i>
        <span>{{user.birthday}}</span>
      </p>
    </div>
  </section>

  <br>

  <!-- Accordion -->
  <section class="w3-card w3-round">
    <div class="w3-white">
      <button (click)="showTextMenu()" class="w3-button w3-block w3-theme-l1 w3-left-align">
        <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>
        <span>Meus grupos</span>
      </button>
      <div id="my-groups" class="w3-hide w3-container">
        <ul class="groups" >
          <li id="group{{i}}" class="groups__list" *ngFor="let group of groups; let i = index">{{group.name}}</li>
        </ul>
      </div>
      <button (click)="showPhotos()" class="w3-button w3-block w3-theme-l1 w3-left-align">
        <i class="fa fa-camera fa-fw w3-margin-right"></i>
        <span>Minhas fotos</span>
      </button>
      <div id="my-pictures" class="w3-hide w3-container">
        <br>
        <div class="w3-row-padding">
          <div id="photo{{i}}" class="w3-half" *ngFor="let photo of photos; let i = index">
            <img src={{photo.src}} class="w3-margin-bottom post-image" alt={{photo.alt}}>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Left Column -->
</div>