<!-- Page Container -->
<div class="w3-container w3-content content-page">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <app-timeline-profile></app-timeline-profile>
    <!-- Right Column -->
    <div class="w3-col m9">
      <app-timeline-create-post></app-timeline-create-post>
      <app-timeline-alert-box></app-timeline-alert-box>
      <app-timeline-list-posts></app-timeline-list-posts>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>
<br>