<section class="list-posts">
  <div class="w3-container w3-card w3-white w3-round w3-margin" *ngFor="let post of posts">
    <br>
    <img src={{post.avatarPicture}} alt="Avatar" class="w3-left w3-circle w3-margin-right timeline-photo">
    <h4>{{post.userName}}</h4><br>
    <hr class="w3-clear">
    <p>{{post.description}}</p>
    <div class="w3-row-padding">
      <div class="w3-half" *ngFor="let picture of post.pictures">
        <img src={{picture.src}} alt={{picture.alt}} class="w3-margin-bottom post-image">
      </div>
    </div>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
      <i class="fa fa-thumbs-up"></i>
      <span class="like"> Like</span>
    </button>
    <div class="amount-likes">
      <span class="number-likes">{{post.likes}} </span>
    </div>
  </div>
</section>
